@page "/InventoryItem/MyInventoryItem"
@inject Microsoft.Extensions.Localization.IStringLocalizer<MyInventoryItemPage> _localizer
@attribute [Authorize(Policy = Permissions.InventoryItems.View)]
@using Forces.Application.Extensions
@using Forces.Application.Features.InventoryItem.Queries.GetAll;



<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="@_localizer["InventoryItem"]" Description="@_localizer["Manage InventoryItems"]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Elevation="25" Items="_InventoryItemsList" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Filter="new Func<GetAllInventoryItemsResponse, bool>(Search)" @bind-InventoryItem="_InventoryItem">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateBase)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => InvokeModal())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"]</MudButton>
                }
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="GetInventoryItemsAsync" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>

            </div>
            <MudSpacer />
            @if (_canSearchBase)
            {
                <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="@_localizer["Search for InventoryItems"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
            }
        </ToolBarContent>
        <ColGroup>
            <col style="width: 60px;" />
            <col />
            <col />
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.Id)">@_localizer["Id"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.ItemName)">@_localizer["Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.ItemArName)">@_localizer["Ar Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.ItemCode)">@_localizer["Code"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.ItemNsn)">@_localizer["NSN"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.ItemDescription)">@_localizer["Description"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.MeasureName)">@_localizer["Unit"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.ItemClass)">@_localizer["Class"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.SerialNumber)">@_localizer["Serial Number"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.DateOfEnter)">@_localizer["Date of Enter"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.FirstUseDate)">@_localizer["First Use Date"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoryItemsResponse, object>(x => x.EndOfServiceDate)">@_localizer["End of Service Date"]</MudTableSortLabel></MudTh>

            <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
        </HeaderContent>
        <GroupHeaderTemplate>
            <MudTh Class="mud-table-cell-custom-group" colspan="5">@($"{context.GroupName}: {ForceNameAndCode(int.Parse(context.Key.ToString()))}")</MudTh>
            </GroupHeaderTemplate>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Name">
                    <MudHighlighter Text="@context.ItemName" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="Ar Name">
                    <MudHighlighter Text="@context.ItemArName" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="Code">
                    <MudHighlighter Text="@context.ItemCode" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="NSN">
                    <MudHighlighter Text="@context.ItemNsn" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="Description">
                    <MudHighlighter Text="@context.ItemDescription" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="Unit">
                    <MudHighlighter Text="@context.MeasureName" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="Class">
                    <MudHighlighter Text="@context.ItemClass.ToDescriptionString()" HighlightedText="@_searchString" />
                </MudTd>
                
                <MudTd DataLabel="Serial Number">
                    <MudHighlighter Text="@context.SerialNumber" HighlightedText="@_searchString" />
                </MudTd>

                <MudTd DataLabel="Date of Enter">
                    <MudHighlighter Text="@context.DateOfEnter.ToString()" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="End Of Service Date">
                    <MudHighlighter Text="@context.EndOfServiceDate.ToString()" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="First Use Date">
                    <MudHighlighter Text="@context.FirstUseDate.ToString()" HighlightedText="@_searchString" />
                </MudTd>


                <MudTd DataLabel="Actions" Style="text-align: right">

                    <MudMenu Label="@_localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown">
                        @if (_canEditBase)
                    {
                        <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))">@_localizer["Edit"]</MudMenuItem>
                    }
                    @if (_canDeleteBase)
                    {
                        <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                    }
                </MudMenu>


                <MudButton Variant="Variant.Filled"
                       DisableElevation="true"
                       StartIcon="@Icons.Material.Filled.DoNotTouch"
                       IconColor="Color.Secondary"
                       Size="Size.Small"
                       Color="Color.Surface">
                    @_localizer["No Allowed Actions"]
                </MudButton>

            </MudTd>
        </RowTemplate>
        <FooterContent>
            <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
            <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
            <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}