@page "/Inventory/MyInventory"
@inject Microsoft.Extensions.Localization.IStringLocalizer<MyInventoryPage> _localizer
@attribute [Authorize(Policy = Permissions.Inventory.View)]
@using Forces.Application.Extensions
@using Forces.Application.Features.Inventory.Queries.GetAll;



<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="@_localizer["Inventory"]" Description="@_localizer["Manage Inventories"]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Elevation="25" Items="_InventoriesList" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Filter="new Func<GetAllInventoriesResponse, bool>(Search)" @bind-inventory="_Inventory">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateBase)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => InvokeModal())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"]</MudButton>
                }
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="GetInventoriesAsync" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>

             </div>
             <MudSpacer />
             @if (_canSearchBase)
            {
                <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="@_localizer["Search for Inventories"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
            }
        </ToolBarContent>
        <ColGroup>
            <col style="width: 60px;" />
            <col />
            <col />
            <col />
            <col />
            <col />
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoriesResponse, object>(x => x.Id)">@_localizer["Id"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoriesResponse, object>(x => x.Name)">@_localizer["Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoriesResponse, object>(x => x.BaseSectionName)">@_localizer["BaseSection Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoriesResponse, object>(x => x.HouseName)">@_localizer["House Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<GetAllInventoriesResponse, object>(x => x.RoomName)">@_localizer["Room Number"]</MudTableSortLabel></MudTh>

            <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
        </HeaderContent>
        <GroupHeaderTemplate>
            <MudTh Class="mud-table-cell-custom-group" colspan="5">@($"{context.GroupName}: {ForceNameAndCode(int.Parse(context.Key.ToString()))}")</MudTh>
            </GroupHeaderTemplate>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Name">
                    <MudHighlighter Text="@context.Name" HighlightedText="@_searchString" />
                </MudTd>
                @if (@context.BaseSectionName != "")
            {
                <MudTd DataLabel="BaseSectionName">
                    <MudHighlighter Text="@context.BaseSectionName" HighlightedText="@_searchString" />
                </MudTd>

            }
            @if (@context.HouseName != "")
            {
                <MudTd DataLabel="HouseName">
                    <MudHighlighter Text="@context.HouseName" HighlightedText="@_searchString" />
                </MudTd>
            }
            @if (@context.RoomName != 0 || context != null)
            {
                <MudTd DataLabel="RoomName">
                    <MudHighlighter Text="@context.RoomName.ToString()" HighlightedText="@_searchString" />
                </MudTd>
            }
            <MudTd DataLabel="Actions" Style="text-align: right">

                <MudMenu Label="@_localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown">
                    @if (_canEditBase)
                    {
                        <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))">@_localizer["Edit"]</MudMenuItem>
                    }
                    @if (_canDeleteBase)
                    {
                        <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                    }
                </MudMenu>


                <MudButton Variant="Variant.Filled"
                           DisableElevation="true"
                           StartIcon="@Icons.Material.Filled.DoNotTouch"
                           IconColor="Color.Secondary"
                           Size="Size.Small"
                           Color="Color.Surface">
                    @_localizer["No Allowed Actions"]
                </MudButton>

            </MudTd>
        </RowTemplate>
        <FooterContent>
            <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
            <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
            <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}