@page "/Tailers"
@attribute [Authorize(Policy = Permissions.Tailer.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<TailersPage> _localizer
@using Forces.Application.Features.Tailers.Queries
<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="@_localizer["Tailers"]" Description="@_localizer["Manage Tailers."]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Elevation="25" Items="_TailerssList" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" Filter="new Func<TailerDto, bool>(Search)" @bind-tailer="_Tailer">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateTailer)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => InvokeModal())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"]</MudButton>
                }
                <MudButton DisableElevation Variant="Variant.Filled" OnClick="GetTailersAsync" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>

            </div>
            <MudSpacer />
            @if (_canSearchTailer)
            {
                <MudTextField @bind-Value="_searchString" Clearable="true" Immediate="true" Placeholder="@_localizer["Search for Tailers"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
            }
        </ToolBarContent>

        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<TailerDto, object>(x => x.Id)">@_localizer["Id"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<TailerDto, object>(x => x.Name)">@_localizer["Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<TailerDto, object>(x => x.Phone)">@_localizer["Phone"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<TailerDto, object>(x => x.TailerCode)">@_localizer["Code"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<TailerDto, object>(x => x.BaseId)">@_localizer["Base"]</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">
                <MudHighlighter Text="@context.Name" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Phone">
                <MudHighlighter Text="@context.Phone" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Code">
                <MudHighlighter Text="@context.TailerCode" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Base">
                <MudHighlighter Text="@BaseNameAndCode(context.BaseId)" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Actions" Style="text-align: right">
                @if (_canEditTailer || _canDeleteTailer)
                    {
                    <MudMenu Label="@_localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                        @if (_canEditTailer)
                            {
                            <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))">@_localizer["Edit"]</MudMenuItem>
                            }
                        @if (_canDeleteTailer)
                            {
                            <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                            }
                    </MudMenu>
                    }
                    else
                    {
                    <MudButton Variant="Variant.Filled"
                               DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch"
                               IconColor="Color.Secondary"
                               Size="Size.Small"
                               Color="Color.Surface">
                        @_localizer["No Allowed Actions"]
                    </MudButton>
                    }
            </MudTd>
        </RowTemplate>
        <FooterContent>
            <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
            <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
            <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}

