<MudMenu @ref="mnue" Dense="true" AnchorOrigin="Origin.BottomCenter" PopoverClass="pop-custom" TransformOrigin="Origin.TopCenter" Style="padding-top: 1px; overflow: visible !important;" MaxHeight="300" Icon="@Icons.Material.Filled.Mail" Direction="Direction.Bottom" Color="Color.Inherit">
    <ActivatorContent>
        <MudIconButton Color="Color.Inherit" OnClick="markAllAsSeen" Icon="@Icons.Material.Filled.Email"></MudIconButton>
    </ActivatorContent>
    <ChildContent>
        <span style="border: 13px solid; border-style: solid; border-color: transparent transparent white transparent; position: absolute; top: -26px; right: 124px; z-index: 9999999999; "></span>
        <MudContainer Class="container" Style=" height: 245px; position: relative; width: 273px; padding: 0px; white-space: nowrap; overflow-y: auto">
            <div class="msg-Holder">
                @foreach (var message in chatList)
                {
                    <MessageItemComponant OnClick="()=>GoToMessage(message.Id)" Seen="@message.seen" MesageDate="@message.LastMessageDate.Value" LastMessage="@message.lastMessage" Name="@($"{message.FirstName} {message.LastName}")" UserId="@message.Id"></MessageItemComponant>
                }
            </div>
            @if (chatList.Count == 0)
            {
                <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
                    NO MESSAGES
                </div>
            }

        </MudContainer>
        <MudDivider />
        <MudText Align="Align.Center"> <MudLink Style="margin-bottom:1px;" Typo="Typo.body2" Href="chat">All Messages</MudLink></MudText>
    </ChildContent>

</MudMenu>
<MudBadge Visible="@(UnSeenCounter() >0)" Style="position:absolute; margin-top:10px;margin-left:-10px" Overlap="true" Color="Color.Error" Content="@(UnSeenCounter())"></MudBadge>
